{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/aboutus.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<header>
  <nav>
    <h2> LOGO </h2>
    <div class="menu"></div>
  </nav>
</header>
<main>
  <div class="about">
    <div class="title"><h1>About The Company</h1></div>
    <div class="desc"><p>
        «Добро пожаловать в наш интернет-магазин! Наша компания приветствует всех, кто зашёл на сайт!»
        «Наш интернет-магазин предлагает самые низкие цены, даже и не пытайтесь найти дешевле!»
        «Наша компания существует уже много лет, на рынке мы являемся самой надёжной и успешной компанией. Покупайте в нашем интернет-магазине снова и снова.»
        «Поверьте, у нас есть всё необходимое. Вашему вниманию самый широкий ассортимент товаров на всём рынке.»
        «Ждём вас за покупками каждый день, мы всегда к вашим услугам!»
        Вы сами знаете, что подобные фразы — клише, и нет в них никакого смысла и толка. Не стоит отрицать, никакого желания покупать в этом интернет-магазине нет, ведь текст кажется поверхностным и лицемерным по отношению к покупателю.        
        </p></div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card_img">
        <i class="fas fa-rocket"></i>
        </div>
      <div class="card_title">Contacts</div>
      <div class="card_body"><p>For help: guljigit@gmail.com</p></div>
      <div class="card_body"><p>Contact: +996775230907</p></div>
      <div class="card_body"><p>Geolocation: Lenina 323</p></div>
    </div>
    <div class="card">
      <div class="card_img">
        <i class="fab fa-cloudversify"></i>
      </div>
      <div class="card_title">Social network</div>
      <div class="card_body"><p><i class="fa-brands fa-instagram"></i>instagram: store.kg</p></div>
      <div class="card_body"><p><i class="fa-brands fa-facebook"></i>Faceboock: storefacebook</p></div>
      <div class="card_body"><p><i class="fa-brands fa-twitter"></i>Twitter: onlystore</p></div>
      <div class="card_body"><p><i class="fa-brands fa-vk"></i>Vkontakte: online.store</p></div>
    </div>

    
  </div>
</main>

{% endblock %}