{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% block content %}

<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{amount}} items</h6>
                  </div>

                  <hr class="my-4">
                    {% for product in products %}
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{product.image.url}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{product.title}}</h6>
                      <h6 class="text-black mb-0">{{product.description}}</h6>
                    </div>
                
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{product.price}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <button type="button" class="btn btn-light">
                            <a href="cart/">
                                <a href="{% url 'delete' id=product.id %}" class="text-muted"><i class="fas fa-times"></i></a>
                            </a>
                        </button>
                    </div>
                  </div>
                  {% endfor %}

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items</h5>
                    <h5>{{amount}}</h5>
                  </div>

                  <hr class="my-4">

                <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>{{total_price}}</h5>
                  </div>
                  <form method="POST">

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">id</th>
                          <th scope="col">First</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      {% csrf_token %}
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Phone Number<div class="input-group input-group-sm mb-3">
                            <input type="tel" pattern="\(\d\d\d\) ?\d\d\d-\d\d-\d\d" placeholder="(###) ###-##-##" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Email<div class="input-group input-group-sm mb-3">
                            <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </td>
                      </tbody>
                    </table>
                    <button type="submit" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}