{% extends 'base.html' %}

{% load static %}
{% load cache %}

{% block content %}
<link rel="stylesheet" href="/static/css/menu.css">

<nav class="nav">
  <ul class="ul">
    <li class="logo"><img src="https://i.imgur.com/E26Pj54.png"></li>
    <li class="logogot"><a class="a" href="#" style="text-decoration: none; color:azure;"><h2>Categories</h2></a></li>
    {% for g in category %}
      <li class="logogo"><a class="a" href="{% url 'category' g.slug %}">{{g.title}}</a></li>
    {% endfor %}
  </ul>
</nav>

<div class="wrapper">
  <div class="section">
      <div class="box-area">
        
        <div class="card">
          <div>
    <div  id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://habrastorage.org/webt/ex/nx/kp/exnxkpgpgvdl7gh5qtge1032cj4.jpeg" class="rounded mx-auto d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container7">
  {% cache 500 sidebar %}
  {% for h in category %}
  <div class="block">
    <div class="text-bg-light p-3">
      <div style="text-align: center;"><h1>{{h.title}}</h1></div>
    </div>
    <div style="display: flex; flex-wrap:wrap; gap: 50px;">
      {% for i in product %}
      {% if i.category == h %}
    <div style="display: flex; flex-wrap:wrap; gap: 50px; justify-content: space-between">
      <div class="card m-5" style="width: 18rem;">
        <img src="{{i.image.url}}" style="height:280px" class="card-img-top" alt="...">
        <div class="card-body">
              <h5 class="card-title"><a href="{% url 'result' i.id %}">{{i.title}}</a></h5>
            <p class="card-text">{{i.description}}</p>
            <h6 class="card-price">{{i.price}}</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="{% url 'add_to_cart' i.id %}" type="button" class="card-link">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
          </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
{% endcache %}
{% endblock %}